# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.egg
*.egg-info
dist
build
*.tar.gz

# SQL
*.sql
*.db

# Environments
.env
.venv
ENV/
env/
venv/
ENV.bak/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.bak2
*.bak3
*.tmp
*.log